{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        com.knuddels/jtokkit {:mvn/version "0.6.1"}}

 :aliases {:test {:main-opts ["-m" "kaocha.runner"]
                  :extra-paths ["test"]
                  :jvm-opts ["-XX:-OmitStackTraceInFastThrow" "-Duser.timezone=UTC"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}}

           ;; TODO - for now we will distribute via GitHub
           ;; :build {:paths ["."]
           ;;         :deps {io.github.clojure/tools.build {:git/tag "v0.9.5" :git/sha "24f2894"}}
           ;;         :ns-default build}
           }}
