{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        com.knuddels/jtokkit {:mvn/version "0.6.1"}}

 :aliases {:test {:main-opts ["-m" "kaocha.runner"]
                  :paths ["test" "src" "resources" "dev-resources"]
                  :jvm-opts ["-XX:-OmitStackTraceInFastThrow" "-Duser.timezone=UTC"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.85.1342"}}}

           :nrepl {:main-opts ["-m" "nrepl.cmdline"]
                   :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                                org.clojars.lukaszkorecki/rumble {:mvn/version "0.1.0-SNAPSHOT-7"}}}

           :outdated {:deps {com.github.liquidz/antq {:mvn/version "2.5.1109"}
                             org.slf4j/slf4j-nop {:mvn/version "2.0.7"}}
                      :main-opts ["-m" "antq.core"]}

           ;; TODO - for now we will distribute via GitHub
           ;; :build {:paths ["."]
           ;;         :deps {io.github.clojure/tools.build {:git/tag "v0.9.5" :git/sha "24f2894"}}
           ;;         :ns-default build}
           }}
